@using AUPPRB.Models.ViewModels.ExpertCenterModels
@using Microsoft.Ajax.Utilities
@model OutputModel
@{
    ViewBag.Title = "Disp";
}

<span style="align-content: center; font-size: 24px; display: table; margin: 0 auto;" class="label label-info"><i class="fa fa-tasks"></i> Дисциплины:</span>
<div id="base" align="center">
    <br />
    <ul>
        @foreach (var item in Model.List)
        {
            <div align="left">
                <b class="row-fluid" style="font-size:34px;"> <i class="fa fa-book"></i> @item</b>
            </div>
            <hr style="display: block; height: 1px; border: 0; border-top: 3px solid #000000; margin: 1em 0; padding: 0;">
            <br />
            var count = 0;
            foreach (var item2 in Model.PrepCabinetList.Where(p => p.Discipline == item))
            {
                string name, a, cab;
                <div align="left" class="panel" style="display:inline-table;margin-right: 3%;font-size: 14px;width: 30%;float:left;background-color: deepskyblue">
                    @if (item2.Photo == null)
                    { a = Path.Combine(Server.MapPath("~"), "/Content/images/PrepodPhoto/empty.png"); }
                    else
                    { a = Path.Combine(Server.MapPath("~"), "/Content/images/PrepodPhoto/") + item2.Photo; }
                    @if (item2.FirstName.Length > 0 && item2.MiddleName.Length > 0)
                    { name = item2.LastName + " " + item2.FirstName[0] + "." + item2.MiddleName[0] + "."; cab = item2.Cabinet; }
                    else
                    { name = item2.LastName; cab = item2.Cabinet; }
                    <table width="100%">
                        <tr>
                            <td rowspan="2">
                                <div class="img-circle" style="background-image: url(@a); background-repeat: no-repeat; background-position: center; background-size: contain; width:120px; height: 120px;border:solid 2px white"></div>
                            </td>
                            <td>
                                <div style="font-size: 22px; align-content: center;color: white">@name</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="font-size: 22px; align-content: center; color: white"><span class="glyphicon glyphicon-home"></span> @cab</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                
                            </td>
                            <td>
                                <span id="likes_count_@item2.IdSotr">@item2.Likes</span>
                                <button onclick="AddLike(@item2.IdSotr)" class="like"><img src="~/Content/img/like.jpg" width="40"/></button>
                            </td>
                        </tr>
                    </table>
                </div>
                    count++;
                    if (count % 3 == 0)
                    {
                        <div style="clear: both;"></div>}
            }
            <div style="clear: both;"></div>
        }
    </ul>
    <ul class="pagination">
        @for (var q = 1; q <= Model.PagingInfo.TotalPages; q++)
        {
            <li> <a class="page-number" href="javascript:void(0);" style="font-size: 24px">@q</a></li>
        }
    </ul>
</div>
<script>
    function AddLike(id) {
        $.post("AddLike", { idSotr: id }, function (data) {
            if (data.type == 'success') {
                debugger;
                document.getElementById("likes_count_" + id).innerText = data.count;
            } else
                alertify.error(data.message);
        });
    }
</script>
